@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  pointer-events: auto !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 223 84% 5%;

    --card: 0 0% 100%;
    --card-foreground: 223 84% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 223 84% 5%;

    --primary: 215 73% 37%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96%;
    --secondary-foreground: 215 73% 37%;

    --accent: 210 40% 96%;
    --accent-foreground: 222 47% 11%;

    --destructive: 0 93% 56%;
    --destructive-foreground: 210 40% 98%;

    --muted: 210 40% 96%;
    --muted-50: 220 100% 99;
    --muted-foreground: 215 16% 47%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 215 73% 37%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --radius: 0.5rem;

    --sidebar-background: 222 56% 26%;
    --sidebar-foreground: 210 40% 96%;

    --sidebar-primary: 215 73% 37%;
    --sidebar-primary-foreground: 210 40% 98%;

    --sidebar-accent: 222 56% 24%;
    --sidebar-accent-foreground: 210 40% 98%;

    --sidebar-border: 214 32% 91%;
    --sidebar-ring: 215 73% 37%;
  }

  .dark {
    --background: 240 13.73% 10%;
    --foreground: 229.76 31.78% 74.71%;
    --muted: 232.5 15.44% 18.32%;
    --muted-foreground: 233.79 11.37% 50%;
    --popover: 234.55 17.46% 12.35%;
    --popover-foreground: 234 12.4% 52.55%;
    --card: 234.55 17.46% 12.35%;
    --card-foreground: 229.76 31.78% 74.71%;
    --border: 232.5 15.38% 30.59%;
    --input: 232 20% 14.71%;
    --primary: 0 0% 82.75%;
    --primary-foreground: 0 0% 20%;
    --secondary: 225.45 71.22% 72.75%;
    --secondary-foreground: 234.55 17.46% 12.35%;
    --accent: 234.55 17.83% 9.47%;
    --accent-foreground: 0 0% 82.75%;
    --destructive: 1.58 47.5% 52.94%;
    --destructive-foreground: 210 40% 98.04%;
    --ring: 225.45 71.22% 72.75%;
    --chart-1: 0 0% 82.75%;
    --chart-2: 225.45 71.22% 72.75%;
    --chart-3: 234.55 17.83% 9.47%;
    --chart-4: 225.45 71.22% 75.75%;
    --chart-5: 0 3% 82.75%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground text-sm;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-copy {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
